<div class="grid gap-3 grid-cols-2 grid-rows-2">
  <ul class="list-inside">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
    <li>Creacion y desarrollo de experiencias indoor y outdoor</li>
    <li>Gestion de marca y eventos deportivos</li>
    <li>Street marketing y eventos sociales</li>
  </ul>

  <ul class="list-inside">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
    <li>Creacion y desarrollo de experiencias indoor y outdoor</li>
    <li>Gestion de marca y eventos deportivos</li>
    <li>Street marketing y eventos sociales</li>
  </ul>

  <ul class="list-inside">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
    <li>Creacion y desarrollo de experiencias indoor y outdoor</li>
    <li>Gestion de marca y eventos deportivos</li>
    <li>Street marketing y eventos sociales</li>
  </ul>
  
  <ul class="list-inside">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
    <li>Creacion y desarrollo de experiencias indoor y outdoor</li>
    <li>Gestion de marca y eventos deportivos</li>
    <li>Street marketing y eventos sociales</li>
  </ul>
</div>
